PATH_add ~/.local/bin
#PATH_add "$(npm config get prefix)"/bin

# <https://direnv.net/man/direnv-stdlib.1.html#codelayout-nodecode>
#layout node

PATH_add "$(brew --prefix node@12)"/bin
# <https://direnv.net/man/direnv-stdlib.1.html#codeuse-node-ltversiongtcode>
#use node 12
